[Unit]
Description=XuNay Backend
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/xunay
ExecStart=/root/xunay/.venv/bin/granian --interface asgi backend.main:app --host 0.0.0.0 --port 12342
Restart=always
RestartSec=3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
